
/*설문 기본정보 테이블의 div*/
.form-table-title-continer {

}
/*설문 기본정보 테이블 caption*/
.form-tbl-caption {
    text-align: left;
    font-size:13px;
}
/*설문 기본정보 테이블*/
.form-tbl {
	width:70%;
	border: 1px solid;
	border-collapse: collapse;
}
/*설문 기본정보 테이블 td*/
.form-tbl td {
    border: 1px solid;
}
/*설문 기본정보 테이블 컬럼*/
.form-tbl-col {
    text-align: center;
    background-color:gray;
    font-weight:bold;
    border: 2px solid;
}
/*설문 소개보 테이블의 div*/
.form-table-intro-container{

}

