<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
</head>
<th:block layout:fragment="header" th:include="@{/fragments/common}"></th:block>
<body>
    <div layout:fragment="content">
        <h1>[테스트 페이지 입니다]</h1>
        <h2 th:text="${greeting}"></h2>
        <p th:text="'Hello, ' + ${greeting} + '!'">홍길동</p>

    <span>현재 DB 시간: <span th:text="${testTime}"></span>></span>
    </div>

</body>
</html>

